name: Publish
on:
    push:
        branches: [master]
    pull_request:
        branches: [master]
jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '20.x'

            - name: Install dependencies
              run: npm install

            - name: Build the project
              run: npm run build

            - name: List build directory contents
              run: ls -R build

            - name: List dist directory contents
              run: ls -R dist

            - name: Configure npm for GitHub Packages
              run: |
                  echo //npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }} >> ~/.npmrc
                  npm config set registry https://npm.pkg.github.com/

            - name: Publish to npm
              run: npm publish
              working-directory: ./build
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
